ion-view(view-title="Acceptance")
	ion-content
		gist(id="23ac8b82bab0b512f8a4", style="height: 100%")

	ion-footer-bar
		.buttons
			.button.button.button-assertive(ng-click="reject()") Reject
		.title
		.buttons
			.button.button.button-positive(ng-click="accept()") Accept, and Login with Facebook
