ion-view
	ion-header-bar
		button.button.button-clear.icon.ion-arrow-left-c.button-stable(ng-click="close()")
		h1.title Spot
		button.button.button-clear.icon.ion-checkmark.button-positive(ng-click="submit()")
	ion-content
		#edit-map
