ion-view(title="My Reports")
	ion-side-menus
		ion-nav-buttons(side="left")
			button.button.button-clear.icon.ion-navicon.button-dark(menu-toggle="left")
		ion-nav-buttons(side="right")
			button.button.button-clear.icon.ion-plus-round.button-positive(ui-sref="add-report")
		ion-side-menu-content
			ion-content(ng-controller="ListReportsCtrl", header-shrink, scroll-event-interval="5")
				ion-refresher(on-refresh="refresh()")
				ion-list
					ion-item.item-thumbnail-left(ng-repeat="report in reports()")
						.item.item-image(ui-sref="show-report({index: $index})")
							fathens-fit-img(src="report.photo.thumbnail", delegate-handle="scroll-thumbnail-{{ $index }}")
						h2 {{report.location.name}} {{report.dateAt | date: 'yyyy/MM/dd'}}
						div(ng-repeat="fish in report.fishes")
							p {{fish | fishFilter}}
				ion-infinite-scroll(ng-if="hasMoreReports()", on-infinite="moreReports()")

		ion-side-menu(side="left", expose-aside-when="large")
			ion-content
				.list
					.item(ui-sref="distribution-map")
						p View on Map
					.item(ui-sref="preferences")
						p Preferences
					.item(ui-sref="sns")
						p Social Connections
