ion-modal-view
	ion-header-bar
		h1.title Sign In
	ion-content.content-center(style="background: #C2C2C2;")
		button.button.button-large.icon-left.ion-social-facebook.button-facebook-signin(ng-click="signin()") &emsp; Sign in with Facebook
