ion-modal-view
	ion-header-bar
		h1.title Terms of User and Disclaimer
	ion-content
		.item
			pre {{ termsOfUse }}
	ion-footer-bar
		.buttons
			.button.button.button-stable(ng-click="reject()") Reject
		h1.title
		.buttons
			.button.button.button-stable(ng-click="accept()") Accept
