title= app.title
meta(charset="utf-8")
meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
link(href="css/ionic.app.css", rel="stylesheet")
script(src="lib/ionic/js/ionic.bundle.js")
script(src="lib/prelude-browser.js")
script(src="js/#{app.name}.js")
// Needed for Cordova/PhoneGap (will be a 404 during development)
script(src="cordova.js")
