- var app = { name: 'Fish', title: 'Adding Fish' }
doctype html
html(ng-app=app.name)
	head
		include _header
	body
		ion-side-menus
			ion-side-menu-content
				ion-header-bar
					.button.button-clear.icon.ion-navicon.button-dark(menu-toggle="left")
					h1.title My Reports
					.button.button-clear.icon.ion-plus-round.button-positive(ng-controller='AddReportCtrl', ng-click="open()")

				ion-content(ng-controller='ShowReportsCtrl')
					ion-refresher(on-refresh="refresh()")
					ion-list
						ion-item.item-thumbnail-left(ng-repeat="report in reports()")
							img(src="{{ report.photo.thumbnail }}", ng-click="detail($index)")
							h2 {{report.location.name}} {{report.dateAt | date: 'yyyy/MM/dd'}}
							.list
								.item(ng-repeat="fish in report.fishes")
									p {{fish | fishFilter}}
							ion-option-button.button-clear.icon.ion-minus-circled.button-assertive(ng-click="delete($index)")
							ion-option-button.button-clear.icon.ion-edit.button-balanced(ng-controller="EditReportCtrl", ng-click="editOnList($index)")
					ion-infinite-scroll(ng-if="hasMoreReports()", on-infinite="moreReports()")

			ion-side-menu(side="left")
				ion-header-bar
					.button.button.button-clear.icon.ion-ios7-close-empty.button-dark(menu-close)
					h1.title Menu
				ion-content
					.list
						.item(ng-controller='MapCtrl', ng-click="open()")
							p View on Map
						.item(ng-controller='SettingsCtrl', ng-click="open()")
							p Settings
