- var app = { name: 'Fish', title: 'Adding Fish' }
doctype html
html(ng-app=app.name)
	head
		include _header
	body(ng-controller='BaseCtrl')
		ion-header-bar
			h1.title {{sample}}
		ion-content
			.list
				.row(ng-controller='GMapCtrl')
					.col-25.input-label
						p Spot
					.col
						{{position.toUrlValue(3)}}
					.col.item-button-right
						button.button.button-positive(ng-click="showMap()")
							i.icon.ion-earth
