doctype html
html(ng-app="Fish")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
		link(href="css/ionic.app.css", rel="stylesheet")

		// Libraries by bower
		script(src="lib/ionic/js/ionic.bundle.min.js")
		script(src="lib/prelude-ls/browser/prelude-browser-min.js")
		script(src="lib/exifreader/js/ExifReader.js")
		script(src="lib/angular-elastic/elastic.js")

		// Needed for Cordova/PhoneGap (will be a 404 during development)
		script(src="cordova.js")

		// My Application sctipt
		script(src="js/App.js")

		script(src="http://maps.googleapis.com/maps/api/js?sensor=false")

	body
		ion-side-menus(enable-menu-with-back-views="false")
			ion-side-menu-content(edge-drag-threshold="true")
				ion-nav-bar.bar-stable(no-tap-scroll="true")
					ion-nav-buttons(side="left")
						button.button.button-clear.icon.ion-navicon.button-dark(menu-toggle="left")
					ion-nav-back-button
				ion-nav-view

			ion-side-menu(side="left")
				ion-header-bar
					h2.title Menu
				ion-content
					.list
						.item(menu-close, ui-sref="home")
							p Home
						.item(menu-close, ui-sref="distribution-map")
							p View on Map
						.item.item-divider
						.item(menu-close, ui-sref="preferences")
							p Preferences
						.item(menu-close, ui-sref="sns")
							p Social Connections
						.item.item-divider
						.item(menu-close, ui-sref="privacy")
							p Privacy Policy
