@import "../../web/styles/common";

#photo {
  position: relative;
  
  float-buttons::shadow {
    div#float_buttons {
      position: fixed;
      
      paper-fab {
        margin: 10px;
        background-color: black;
      }
    }
  }
}
