.modal
	ion-header-bar
		button.button.button-clear.icon.ion-arrow-left-c.button-stable(ng-click="close()")
		h1.title Map View
		.buttons
			button.button.button-clear.icon.button-stable(class="{{ person().icon }}", ng-click="view.person = person().next", ng-disabled="!gmap")
	ion-content
		.item.item-input.item-select
			input(type="text", ng-model="view.fish", placeholder="Every Fish", ng-disabled="!gmap")
			select(ng-model="view.person", ng-options="key as key for (key, value) in persons", ng-disabled="!gmap")
		fathens-google-maps