.modal
	ion-header-bar
		button.button.button-clear.icon.ion-arrow-left-c.button-stable(ng-click="cancel()")
		h1.title {{title}}
		button.button.button-clear.icon.ion-checkmark.button-positive(ng-click="submit()")
	ion-content
		.card
			.item.item-image
				img.full-image(src="{{ report.photo.mainview }}")
		.list
			.row.item.item-input
				.col-25.input-label
					p Date
				.col
					input(type="date", ng-model="report.dateAt")
			.row.item.item-input.item-icon-right
				.col-25.input-label
					p Spot
				.col
					input(type="text", ng-model="report.location.name")
				.icon.ion-earth.positive(ng-click="showMap()")
			.row.item.item-input
				.col-25.input-label
					p Comment
				.col
					textarea(ng-model="report.comment", placeholder="Comments")

		.list(ng-controller='AddFishCtrl')
			.bar.item.item-divider
				p.title Catches
				button.button.button-clear.icon.ion-plus-circled.button-positive(ng-click="addFish()")
			ion-list(show-delete="true")
				ion-item.item-button-right(ng-repeat="fish in report.fishes", ng-click="editFish($index)")
					ion-delete-button.icon.ion-ios7-minus-outline(ng-click="deleteFish($index, false)")
					p {{fish | fishFilter}}

		.card.padding-vertical
			ion-checkbox(ng-repeat="name in publish.ables", ng-model="publish.do[name]") Publish to {{name}}
