ion-modal-view
	ion-header-bar
		button.button.button-clear.icon.ion-arrow-left-c.button-stable(ng-click="cancel()")
		h1.title {{title}}
		button.button.button-clear.icon.ion-checkmark.button-positive(ng-click="submit()", ng-disabled="unsubmittable")
	ion-content
		.card
			.item.item-image
				fathens-fit-img(src="currentReport.photo.mainview", delegate-handle="scroll-img-edit-report", direction="xy", zooming="true", min-zoom="0.5", max-zoom="4")
		.list
			.row.item.item-input
				.col-25.input-label
					p Date
				.col
					input(type="date", ng-model="currentReport.dateAt")
			.row.item.item-input.item-icon-right
				.col-25.input-label
					p Spot
				.col
					input(type="text", ng-model="currentReport.location.name")
				.icon.ion-earth.positive(ng-click="showMap()")
			.row.item.item-input
				.col-25.input-label
					p Comment
				.col
					textarea(ng-model="currentReport.comment", placeholder="Comments")
			.row.item.item-toggle
				.col
					.input-label
						p Post to Facebook
					label.toggle.toggle-positive
						input(type="checkbox", ng-model="publishing")
						.track
							.handle

		.list(ng-controller='AddFishCtrl')
			.bar.item.item-divider
				p.title Catches
				button.button.button-clear.icon.ion-plus-circled.button-positive(ng-click="addFish()")
			ion-list(show-delete="true")
				ion-item.item-button-right(ng-repeat="fish in currentReport.fishes", ng-click="editFish($index)")
					ion-delete-button.icon.ion-ios7-minus-outline(ng-click="deleteFish($index, false)")
					p {{fish | fishFilter}}
