ion-modal-view
	ion-header-bar.bar-dark
		button.button.button-clear.icon.ion-arrow-left-c.button-stable(ng-click="close()")
		h1.title Social Connection
	ion-content(header-shrink, scroll-event-interval="5")
		.list
			.item.item-divider
				h2.title Connections
			.item.item-toggle
				.input-label Facebook
				label.toggle.toggle-balanced
					input(type='checkbox', ng-model="login", ng-change="checkSocial()", ng-disabled="changing")
					.track
						.handle
				.item-text-wrap(ng-show="login")
					p {{ username }}
