.modal
	ion-header-bar
		button.button.button-clear.icon.ion-arrow-left-c.button-stable(ng-click="closeMap()")
		h1.title Spot
		.buttons(ng-show="gmapOnTap != null")
			button.button.button-clear.icon.ion-checkmark.button-positive(ng-click="submitMap()")
	ion-content
		fathens-google-maps