ion-view(view-title="Distributions")
	ion-nav-buttons(side="right")
		button.button.button-clear.icon.ion-eye.button-stable(ng-click="showViewOptions($event)")
	ion-nav-buttons(side="secondary")
		button.button.button-clear.icon.ion-funnel.button-stable(ng-click="showOptions($event)")

	ion-content(scroll="false")
		#distribution-map(style="height: 100%")

	script#distribution_map_options(type="text/ng-template")
		ion-popover-view
			ion-header-bar
				h2.title Filter
			ion-content
				.list
					ion-toggle(ng-model="view.others") Include Others
					.item.item-input
						i.icon.ion-search.placeholder-icon
						input(type="text", ng-model="view.name", placeholder="Fish Name")

	script#distribution_map_view(type="text/ng-template")
		ion-popover-view
			ion-header-bar
				h2.title Map View
			ion-content
				.list
					ion-radio(ng-model="view.gmap.type", ng-repeat="(text, value) in view.gmap.types", ng-value="value") {{ text }}
