ion-view(view-title="Social Connection")
	ion-content
		.list
			.item.item-divider
				h2.title Connections
			.item.item-toggle
				.input-label
					p Facebook
				label.toggle.toggle-balanced
					input(type='checkbox', ng-model="social.login", ng-change="checkSocial()")
					.track
						.handle
				.item-text-wrap(ng-show="social.login")
					p {{ social.username }}
