ion-view(view-title="New Report")
	ion-nav-buttons(side="secondary")
		button.button.button-clear.icon.ion-checkmark.button-positive(ng-click="confirmSubmit.show($event)", ng-disabled="!submission.enabled")

		script#confirm-submit(type="text/ng-template")
			ion-popover-view(style="height: 150px")
				ion-header-bar
					h2.title Confirm
					.buttons
						button.button.button-positive(ng-click="confirmSubmit.hide(); submit()") OK
				ion-content
					.item
						p Option
						ion-checkbox(style="border: none", ng-model="submission.publishing")
							p Post to Facebook

	ion-content
		fathens-edit-report
