ion-view(view-title="Edit Report")
	ion-nav-buttons(side="secondary")
		button.button.button-clear.icon.ion-checkmark.button-positive(ng-click="submit()", ng-disabled="!submissionEnabled()")
	ion-content
		fathens-edit-report
