div
	.item.item-input
		textarea-elastic(ng-model="report.comment", placeholder="Write something to note")

	fathens-edit-fishes

	.row
		.col-50
			.item.item-image
				img(ng-src="{{report.photo.mainview}}")
		.col-50
			.item.item-icon-left(ng-click="showMap($event)")
				.icon.ion-earth.positive
				p {{ report.location.name ? report.location.name : "Spot Name" }}

				script#spot-location(type="text/ng-template")
					ion-popover-view
						.item.item-input-wrapper
							input(type="text", ng-model="report.location.name", placeholder="Spot Name")
						.item.item-positive#gmap(style="height: 220px")

			.item.item-input
				.input-label
					p Time
				input(type="time", ng-model="report.dateAt")
			.item.item-input
				.input-label
					p Date
				input(type="date", ng-model="report.dateAt")

			.item.row
				.col-50(ng-click="rangeMoon.show($event)")
					p Moon: {{ report.moon }}
					img(ng-src="{{ moonIcon() }}", width="80%")

					script#range-moon(type="text/ng-template")
						ion-popover-view(style="height: 57px")
							.item.item-input.range-energized.range
								p 0
								input(type="range", ng-model="report.moon", min="0", max="29", ng-click="conditionModify()")
								p 30

				.col-50(ng-click="chooseTide.show($event)")
					p Tide: {{ report.tide }}
					img(ng-src="{{ tideIcon() }}", width="80%")

					script#choose-tide(type="text/ng-template")
						ion-popover-view
							ion-radio.item.item-avatar(ng-model="report.tide", ng-value="phase.name", ng-repeat="phase in tidePhases", ng-click="conditionModify()")
								img(ng-src="{{ phase.icon }}")
								p {{ phase.name }} Tide
