div
	.item.item-input
		textarea-elastic(ng-model="report.comment", placeholder="Write something to note")

	fathens-edit-fishes

	.row
		.col-50
			.item.item-image
				img(ng-src="{{report.photo.mainview.volatileUrl}}")
		.col-50
			.item.item-icon-left(ng-click="showMap($event)")
				.icon.ion-earth.positive
				p {{ report.location.name ? report.location.name : "Spot Name" }}

				script#spot-location(type="text/ng-template")
					ion-popover-view(style="height: 200px")
						.item.item-input-wrapper
							input#spot-name-input(type="text", ng-model="report.location.name", placeholder="Spot Name")
							button.button.button-small.button-clear.icon.ion-checkmark.button-positive(ng-click="popoverHide()")
						.item.item-positive#gmap(style="height: 100%")

			.item(style="padding: 0px")
				.item-input(style="padding-bottom: 0px")
					.input-label
						p Time
					input(type="time", ng-model="report.dateAt")
				.item-input(style="padding-top: 0px")
					.input-label
						p Date
					input(type="date", ng-model="report.dateAt")

			.item.row
				.col-50
					.item-image(style="width: 80%", ng-click="popover.chooseWeather.show($event)")
						img(style="width: 80%", ng-src="{{ report.condition.weather.iconUrl }}")

						script#choose-weather(type="text/ng-template")
							ion-popover-view
								ion-radio.item.item-avatar(ng-model="report.condition.weather.name", ng-value="name", ng-repeat="(name, id) in weatherStates", ng-click="weatherModify()")
									img(ng-src="{{ weatherIcon(name) }}")
									p {{ name }}

				.col-50
					.row
						p {{ report.condition.weather.name }}
					.row
						.col-50.item-input(style="padding: 0px")
							input(type="number", ng-model="report.condition.weather.temperature.value")
						.col-50.item-input(style="padding: 0px")
							p °{{report.condition.weather.temperature.unit[0]}}

			.item.row
				.col
					p Moon: {{ report.condition.moon }}
					.item-image(style="width: 50%; padding-top: 8px")
						img(ng-src="{{ moonIcon() }}", width="50%")

				.col(ng-click="popover.chooseTide.show($event)")
					p {{ report.condition.tide }}
					.item-image(style="width: 50%; padding-top: 8px")
						img(ng-src="{{ tideIcon() }}", width="50%")

					script#choose-tide(type="text/ng-template")
						ion-popover-view
							ion-radio.item.item-avatar(ng-model="report.condition.tide", ng-value="phase.name", ng-repeat="phase in tidePhases", ng-click="tideModify()")
								img(ng-src="{{ phase.icon }}")
								p {{ phase.name }} Tide

	.item(style="border: none")
