ion-view(view-title="Report Detail")
	ion-nav-buttons(side="secondary")
		button.button.button-clear.icon.ion-navicon.button-dark(ng-click="popover.optionButtons.show($event)")
		script#option-buttons(type="text/ng-template")
			ion-popover-view(style="height: 140px; width: 140px")
				ion-content
					button.button.button-small.button-block.button-balanced.icon-left.ion-edit(ng-click="popoverHide(); useCurrent()", ui-sref="edit-report") Edit
					button.button.button-small.button-block.button-positive.icon-left.ion-share(ng-click="publish()") Publish
					button.button.button-small.button-block.button-assertive.icon-left.ion-trash-a(ng-click="delete()") Delete
	ion-content
		.item.item-divider 
			p {{ report.dateAt | date: 'yyyy/MM/dd HH:mm' }}
			p(ng-click="previewMap($event)") at &nbsp; {{ report.location.name }}
			script#show-location(type="text/ng-template")
				ion-popover-view(style="height: 220px")
					div#show-gmap(style="height: 220px")

		.item(style="border: none; padding-bottom: 0px")
			p {{ report.comment }}

		.card
			.item.item-image
				fathens-fit-img(src="report.photo.mainview", delegate-handle="scroll-img-show-report", direction="xy", zooming="true", min-zoom="0.5", max-zoom="4")

		.list
			.item.item-divider
				p Catches
			ion-list
				ion-item.item-button-right(ng-repeat="fish in report.fishes")
					p {{fish | fishFilter}}

		.list
			.item.item-divider
				p Conditions
			.item.row
				.col-33
					p Temp: {{ report.condition.weather.temperature.value | number:1 }}
					.item-image(style="width: 50%")
						img(ng-src="{{ report.condition.weather.iconUrl }}")
				.col-33
					p Tide: {{ report.condition.tide }}
					.item-image(style="width: 50%")
						img(ng-src="{{ tideIcon }}")
				.col-33
					p Moon: {{ report.condition.moon }}
					.item-image(style="width: 50%")
						img(ng-src="{{ moonIcon }}")
