ion-view(view-title="Spot")
	ion-nav-buttons(side="secondary")
		button.button.button-clear.icon.ion-checkmark.button-positive(ng-click="submit()", ng-hide="!geoinfo")
	ion-content(scroll="false")
		#edit-map(style="height: 100%")
