@mixin fooming($duration_enter: 1s, $duration_leave: $duration_enter) {
  &.ng-enter {
    opacity: 0;
    transition: opacity $duration_enter;
  }
  &.ng-enter-active {
    opacity: 1;
  }
  &.ng-leave {
    opacity: 1;
    transition: opacity $duration_leave;
  }
  &.ng-leave.ng-leave-active {
    opacity: 0;
  }
}

.fooming {
  @include fooming();
}

.fooming-2s1s {
  @include fooming(2s, 1s);
}
