body {
	font: {
		family: 'Noto Sans Japanese', sans-serif;
		size: 16px;
		weight: 100;
	}
	color: #555;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}

core-header-panel[main] {
  &>div {
    margin: 10px;
  }
}

.title {
  display: block;
  
  padding-bottom: 7px;
  
	font-size: 20px;
	font-weight: 300;
}

.row {
    display: block;
}
