$toolbar-color: #00bcd4;
$header-color: #cadaf0;

core-drawer-panel {
  core-toolbar {
    color: white;
    background-color: $toolbar-color;
  }
  
  core-header-panel[drawer] {
    background: white;
  }
  
  core-header-panel[main] {
    core-toolbar {
      span[flex] {
        @include font-bold(24px);
      }
      
      .tabs {
        position: absolute;
        top: 60px;
        left: 0;
        margin: 0;
        width: 100%;
        
        paper-tabs {
          &::shadow #selectionBar {
            height: 4px;
            background-color: saturate(darken($toolbar-color, 10%), 100%); 
          }
          
          paper-tab::shadow #ink {
            color: lighten($toolbar-color, 10%);
          }
        }
      }
    }
    
    div.page-loading {
      div {
        display: block;
        
        margin-top: 30%;
        text-align: center;
      }
    }
  }
}
