
core-drawer-panel {
  core-toolbar {
    background-color: #cde;
  }
  
  core-header-panel[drawer] {
    background: white;
  }
  
  core-header-panel[main] {
    core-toolbar {
      span[flex] {
        @include font-bold(24px);
      }
    }
    
    &>div {
      margin: 10px;
    }
    
    div.page-loading {
      div {
        display: block;
        
        margin-top: 30%;
        text-align: center;
      }
    }
  }
}
