
core-header-panel[main] {
  &>div {
    margin: 10px;
  }
}

paper-radio-button {
  display: block;
  font-weight: 200;
}

paper-button {
  padding: 0 7px;
}
paper-button > core-icon {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 4px;
}
