
@mixin radio-color($my_color) {
  paper-radio-button::shadow #ink[checked] {
    color: $my_color;
  }
  paper-radio-button::shadow #onRadio {
    background-color: $my_color;
  }
  paper-radio-button[checked]::shadow #offRadio {
    border-color: $my_color;
  }
  paper-radio-button[disabled]::shadow #offRadio {
    border-color: $my_color;
  }
}

@mixin spinner-color($color) {
  &::shadow .circle {
    border-color: $color;
  }
}
